// @import './scss/bootstrap';
// @import './scss/auth';
// @import './scss/screen-loader';
// @import './scss/page-not-found';

// #root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }
// main {
//   flex: 1 0 auto;
// }
